# 数据库配置
DB_URL="sqlite+aiosqlite:///database.db"

# JWT配置
JWT_SECRET_KEY="efeaa8f30a75bed67f131b7e0c884d20478605315bc0deac0ff2d33c2c6057b8"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=15

# OpenAI配置
OPENAI_API_KEY={OPENAI_API_KEY}
OPENAI_MODEL="deepseek-ai/DeepSeek-R1-Distill-Llama-8B"
OPENAI_BASE_URL="https://api.siliconflow.cn/v1"